<mat-card>
   <mat-card-content>
      <p>
         Software Services Inc. has served the New England area since 1997.
         We offer Software Engineering services ranging from Enterprise Architecture to 
         full-stack software development.
      </p>
      <p>
         Our consultant are experts in both web and mobile development technologies. Additionally,
         we provide a full range of database development services including data architecture and database administration.
      </p>
   </mat-card-content>
</mat-card>