<div style="align-content: center; width:1100%;">
    <img src="./assets/images/SSI_Logo.jpg" >
</div>

<nav mat-tab-nav-bar>
    <a mat-tab-link
    *ngFor="let link of navLinks"
    [routerLink]="link.link"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
   {{link.label}}
  </a>
  </nav>
  <mat-drawer-container class="side-bar-and-main-content">
    <mat-drawer mode="side" opened>Drawer content</mat-drawer>
    <mat-drawer-content> <router-outlet></router-outlet></mat-drawer-content>
  </mat-drawer-container>
 