<div style="align-content: center; width:100%;">
    <img src="./assets/images/SSI_Logo.jpg" >
</div>

<nav mat-tab-nav-bar style="margin-left: 150px">
    <a mat-tab-link
    *ngFor="let link of navLinks"
    [routerLink]="link.link"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
   {{link.label}}
  </a>
  </nav>
  <mat-sidenav-container  class="sidenav-container" >
    <mat-sidenav 
        [fixedInViewport]="true"
        [fixedTopGap]="170"
        [fixedBottomGap]="0" 
        mode="side" opened="true" 
        class="sidenav mat-elevation-z2">Sidenav content
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
 