<mat-card>
  <mat-card-content>
     <p>
        Software systems are only as good as the underlying architecture, and SSI firmly
        believes in establishing a sound architecture for each application. This is analogous
        to constructing a sound foundation before building a house.
      </p>
      <p>
        We typically work with larger-scale applications that must be able to handle thousands
        or millions of users. To achieve this, we institute modern techniques that break up 
        applications into tiers that allow for scaling, over time, to accommodate 
        increased volume and activity.
      </p>
      <p>
        In the past, we made extensive use of service-oriented architectures, but we are now
        benefiting from microservices and API gateways, and deploying through Docker containers.
     </p>
     <p>
        Additionally, we provide database design expertise and user-interface design services.
     </p>
  </mat-card-content>
</mat-card>
