<mat-card>
<mat-card-header class="matcard-header-rounded-left">
  <mat-card-title >Major Achievements</mat-card-title>
</mat-card-header>
    <li class="small-text">Architected and developed an “electronic medical records” application, in use at 8 psychiatric hospitals, serving both in-patient and out-patient clients.</li>
    <li class="small-text">Architected and developed a Case Management / Disease Management application for a major health insurance company, used by 1000 nurses and doctors to service 1,000,000 patients.</li>
    <li class="small-text">Participated in the design and development of an application used in cancer clinics nationwide to gather clinical information from patients, in an expert system fashion, in order to optimize treatment plans.</li>
    <li class="small-text">Architected and developed a website for a public utility power company that allows customers to pay their bills online, change profile info, and schedule residential moves.  This enabled Northeast Utilities to be the first power company in the U.S. to offer online bill-pay.</li>
    <li class="small-text">Worked with Econometricians to model large ($40 billion +) loan portfolios in order to predict lending agreements that could default.</li>
    <li class="small-text">Identified a major flaw in a purchased cellular billing software package that was resulting in under-billing customers $1,000,000/year.</li>
    <li class="small-text">Architected and developed a business intelligence application for a nuclear power plant, used corporate-wide to provide access to plant improvement / repair information.</li>
    <li class="small-text">Architected and developed an application that manages the work-flow for repairs/upgrades to a nuclear power plant simulator, used to train operators, and adheres to NRC guidelines.</li>
    <li class="small-text">Participated in the development of an expense reimbursement application that was deployed to 60,000 employees in 100 countries.</li> 
  </mat-card>    