<mat-card>
    <mat-card-header class="matcard-header-rounded-left">
        <mat-card-title >Web Development</mat-card-title>
    </mat-card-header>
      <li class="small-text">Angular 7 / Typescript / Material Design / Flex-Layout</li>
      <li class="small-text">ASP.net MVC/ C# / Javascript / JQuery</li>
    <mat-card-header class="matcard-header-rounded-left">
        <mat-card-title >Back-End Services</mat-card-title>
    </mat-card-header>
      <li class="small-text">.Net CORE 2.x Web API / Rest / Docker </li>
      <li class="small-text">ASP.net MVC/ Rest, SOAP  </li>
      <mat-card-header class="matcard-header-rounded-left">
        <mat-card-title >Database</mat-card-title>
    </mat-card-header>
      <li class="small-text">SQL Server 2016 </li>
      <li class="small-text">Data Architecture / Database Administration </li>
      <li class="small-text">Database Development - TSQL </li>
    <mat-card-header class="matcard-header-rounded-left">
        <mat-card-title >Database</mat-card-title>
    </mat-card-header>
        <li class="small-text">Appcelerator Titanium</li>
        <li class="small-text">IOS / Android</li>
        <li class="small-text">Apple App Store and Google Play deployment</li>
</mat-card> 
