/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
$primary: #ffba42;

// Color of Active Tab Underline
// =============================
.mat-tab-group.mat-primary .mat-ink-bar,.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: $primary;
}

body {
    margin: 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media all and (max-width: 800px) {
    .flex-container {
        justify-content: flex-start;
    }
}
.flex-item {
    width: 200px;
    height: 150px;
    margin-top: 5px;
    background: tomato;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    line-height: 150px;
}

  .sidenav-container {
      flex: 1;
      position: fixed;
      width: 100%;
      min-width: 100%;
      height: 100%;
      min-height: 100%;
  }
   
  .sidenav-content {
      display: flex;
      height: 100%;
      flex-direction: column;
  }

  .sidenav {
      width: 150px;
      background-color: whitesmoke;
      border-top: gainsboro 1px solid;
  }

  .mat-raised-button.mat-primary {
    background-color:#c2c2c2;
    height: 35px;
    color: white;
}

 
 // Section Header With Top Left Corner ONLY rounded
 // ================================================= 
 .matcard-header-rounded-top-left {
    height: 18px;
    vertical-align: middle;
    border-top-left-radius: 8px;
    color: black;
    background-color: white;
    margin-top: 10px;
    background: linear-gradient(to left, rgba(255,0,0,0), rgb(46, 77, 123));
   }

   // Section Header with Entire LEFT side roundered
   // ==============================================
  .matcard-header-rounded-left {
    height: 25px;
    border-radius: 8px;
    color: gray;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    background: linear-gradient(to left, rgba(255,0,0,0), rgb(255,186,66));
   }

    // Sizing for Secton Header, which is mat card title
   // =================================================
  .mat-card-header .mat-card-title {
    font-size: 12px;
    margin-top: 5px;
  }

   .mat-card-title {
       font-size: small !important;
   }
   .small-text {
       font-size: 12px !important;
       margin-left: 20px;
   }

